@model PrepareExam.Models.ViewModels.ExamPartsViewModel
@{
    ViewData["Title"] = "Sınav Oluştur";
    var bloglist = ViewBag.Bloglist as List<SelectListItem>;
}
<style>
    .dnone {
        display: none;
    }

    #examform label {
        display: flex;
    }

    label.error {
        color: red;
    }
</style>
<h1 style="text-align:center">Sınav Oluştur</h1>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>

@* style="text-align: -webkit-center" *@
<div class="row" style="justify-content:space-around">
    <div class="col-md-12">
        <form id="examform">
            <div class="form-group">
                <h3>Yazı Başlığı</h3>
                <div class="col-md-12 m-0 p-0">

                    @Html.DropDownListFor(m => m.Blog.Id, bloglist, "-Lütfen bir başlık şeçiniz-", new { @class = "form-control blogdropdown col-md-12" })
                    <span id="s1Dropdown" class="text-danger"></span>

                </div>
                <div id="textarea" class="col-md-12 mt-2 dnone">
                    <textarea class="col-md-12" id="blogcontent" style="height:fit-content !important"></textarea>
                </div>
                <div class="col-md-12 mt-1 mb-1 p-0 border rounded">
                    @* Question1 *@
                    <div class="col-md-10 mt-2 ">
                        <h5>Soru 1</h5>
                        <input id="question1" name="questions" placeholder="Soru..." class="form-control">
                        <span id="question1span" class="text-danger"></span>
                    </div>
                    <div class="col-md-10 mt-1 mb-1 p-1">
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">A</span>
                            <input id="s1c1" type="text" name="answer" class="form-control " placeholder="Cevap 1" aria-label="Cevap 1" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">B</span>
                            <input id="s1c2" type="text" name="answer" class="form-control" placeholder="Cevap 2" aria-label="Cevap 2" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">C</span>
                            <input id="s1c3" type="text" name="answer" class="form-control" placeholder="Cevap 3" aria-label="Cevap 3" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">D</span>
                            <input id="s1c4" type="text" name="answer" class="form-control" placeholder="Cevap 4" aria-label="Cevap 4" aria-describedby="addon-wrapping">
                        </div>
                        <span id="question1Answers" class="text-danger"></span>
                        <div class="col-md-12 mt-1 mb-1 p-1">
                            <select id="selectTrue1" class="form-control col-md-12 mt-1" name="chose_correct">
                                <option value="default" disabled selected>Doğru cevabı belirleyiniz</option>
                                <option value="s1c1">A</option>
                                <option value="s1c2">B</option>
                                <option value="s1c3">C</option>
                                <option value="s1c4">D</option>
                            </select>
                        </div>
                        <span id="question1Correct" class="text-danger"></span>

                    </div>
                    <hr />
                    @* Question2 *@
                    <div class="col-md-10 mt-2 ">
                        <h5>Soru 2</h5>
                        <input id="question2" name="questions" placeholder="Soru..." class="form-control">
                        <span id="question2span" class="text-danger"></span>
                    </div>
                    <div class="col-md-10 mt-1 mb-1 p-1">
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">A</span>
                            <input id="s2c1" type="text" name="answer" class="form-control h-auto d-inline-block" placeholder="Cevap 1" aria-label="Cevap 1" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">B</span>
                            <input id="s2c2" type="text" name="answer" class="form-control" placeholder="Cevap 2" aria-label="Cevap 2" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">C</span>
                            <input id="s2c3" type="text" name="answer" class="form-control" placeholder="Cevap 3" aria-label="Cevap 3" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">D</span>
                            <input id="s2c4" type="text" name="answer" class="form-control" placeholder="Cevap 4" aria-label="Cevap 4" aria-describedby="addon-wrapping">
                        </div>
                        <span id="question2Answers" class="text-danger"></span>
                        <div class="col-md-12 mt-1 mb-1 p-1">
                            <select id="selectTrue2" class="form-control col-md-12 mt-1" name="chose_correct">
                                <option value="default" disabled selected>Doğru cevabı belirleyiniz</option>
                                <option value="s2c1">A</option>
                                <option value="s2c2">B</option>
                                <option value="s2c3">C</option>
                                <option value="s2c4">D</option>
                            </select>
                        </div>
                        <span id="question2Correct" class="text-danger"></span>
                    </div>
                    <hr />

                    @* Question3 *@
                    <div class="col-md-10 mt-2 ">
                        <h5>Soru 3</h5>
                        <input id="question3" name="questions" placeholder="Soru..." class="form-control">
                        <span id="question3span" class="text-danger"></span>
                    </div>
                    <div class="col-md-10 mt-1 mb-1 p-1">
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">A</span>
                            <input id="s3c1" type="text" name="answer" class="form-control h-auto d-inline-block" placeholder="Cevap 1" aria-label="Cevap 1" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">B</span>
                            <input id="s3c2" type="text" name="answer" class="form-control" placeholder="Cevap 2" aria-label="Cevap 2" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">C</span>
                            <input id="s3c3" type="text" name="answer" class="form-control" placeholder="Cevap 3" aria-label="Cevap 3" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">D</span>
                            <input id="s3c4" type="text" name="answer" class="form-control" placeholder="Cevap 4" aria-label="Cevap 4" aria-describedby="addon-wrapping">
                        </div>
                        <span id="question3Answers" class="text-danger"></span>
                        <div class="col-md-12 mt-1 mb-1 p-1">
                            <select id="selectTrue3" class="form-control col-md-12 mt-1" name="chose_correct">
                                <option value="default" disabled selected>Doğru cevabı belirleyiniz</option>
                                <option value="s3c1">A</option>
                                <option value="s3c2">B</option>
                                <option value="s3c3">C</option>
                                <option value="s3c4">D</option>
                            </select>
                        </div>
                        <span id="question3Correct" class="text-danger"></span>
                    </div>
                    <hr />

                    @* Question4 *@
                    <div class="col-md-10 mt-2 ">
                        <h5>Soru 4</h5>
                        <input id="question4" name="questions" placeholder="Soru..." class="form-control">
                        <span id="question4span" class="text-danger"></span>
                    </div>
                    <div class="col-md-10 mt-1 mb-1 p-1">
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">A</span>
                            <input id="s4c1" type="text" name="answer" class="form-control h-auto d-inline-block" placeholder="Cevap 1" aria-label="Cevap 1" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">B</span>
                            <input id="s4c2" type="text" name="answer" class="form-control" placeholder="Cevap 2" aria-label="Cevap 2" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">C</span>
                            <input id="s4c3" type="text" name="answer" class="form-control" placeholder="Cevap 3" aria-label="Cevap 3" aria-describedby="addon-wrapping">
                        </div>
                        <div class="pl-2 input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">D</span>
                            <input id="s4c4" type="text" name="answer" class="form-control" placeholder="Cevap 4" aria-label="Cevap 4" aria-describedby="addon-wrapping">
                        </div>
                        <span id="question4Answers" class="text-danger"></span>
                        <div class="col-md-12 mt-1 mb-1 p-1">
                            <select id="selectTrue" class="form-control col-md-12 mt-1" name="chose_correct">
                                <option value="default" disabled selected>Doğru cevabı belirleyiniz</option>
                                <option value="s4c1">A</option>
                                <option value="s4c2">B</option>
                                <option value="s4c3">C</option>
                                <option value="s4c4">D</option>
                            </select>
                        </div>
                        <span id="question4Correct" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row" style="justify-content:center">
                <div class="col-6">
                    <button id="SaveExam" class="btn btn-primary form-control">
                        Sınav Oluştur
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/form.js"></script>
